.LaneGrid {
  height: 1.5rem;
}

.car {
  height: 1.5rem;
}

.tree {
  height: 1.5rem;
}

@media (min-width: 768px) {
  .LaneGrid {
    height: 2rem;
  }
  .car {
    height: 2.5rem;
  }
  .tree {
    height: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .LaneGrid {
    height: 3rem;
  }
}
